<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.solvd.bankjdbc.dao.ILoanDAO">
    <sql id = "body">
        l.loan_id as id,
        l.account_id as accountId,
        l.amount as amount,
        l.rate as rate,
        l.returned_amount as returned_amount, 
        l.from_date as from_date
    </sql>
    <insert id = "create"
            useGeneratedKeys = "true"
            keyProperty = "loan_id">
        INSERT INTO Loan (account_id, amount, rate, returned_amount,from_date)
        VALUES (#{accountId}, #{amount}, #{rate}, #{returnedAmount}, #{from_date})
    </insert>

    <select id = "getById"  resultMap = "loanResultMap">
        SELECT
        <include refid="body"/>
        FROM Loan l
        WHERE loan_id = #{ id }
    </select>

    <update id = "update">
        UPDATE Loan SET
        account_id = #{accountId},
        amount = #{amount},
        rate = #{rate},
        returned_amount = #{returnedAmount},
        from_date = #{from_date}
        WHERE loan_id = #{id}
    </update>

    <delete id = "delete">
        DELETE FROM Loan WHERE loan_id = #{id}
    </delete>

    <select id = "getAll"  resultMap = "loanResultMap">
        SELECT
        <include refid="body"/>
        FROM Loan l
    </select>

    <select id = "getByAccountId"  resultMap = "loanResultMap">
        SELECT
        <include refid="body"/>
        FROM Loan l
        WHERE l.account_id = #{ accountId }
    </select>

    <resultMap id = "loanResultMap"
               type = "Loan"
               autoMapping = "true">
        <!--<id column = "id" property = "id"/>-->
    </resultMap>
</mapper>